html {
    background-color: rgb(28, 28, 28);
    color: rgb(0, 100, 200);
}

body{
    text-align: center;
}

header {
  background-image: url(images/header.jpg);
  margin: 0;
}

a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
}

a:active {
  color: rgb(255, 255, 255);
  background-color: transparent;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  width: 100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: fit-content;
}

ul li a:hover {
  background-color: #111111;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #333333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  color: #111111;
}

input[type=textarea] {
  width: 100%;
  background-color: #333333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 4px solid;
  border-radius: 4px;
  cursor: pointer;
}

.contactdetails {
  border-radius: 5px;
  padding: 20px;
}

.list {
  width: 280px;
  border: 5px solid ;
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
  text-align: center;
}

